.app-container {
  min-height: 100vh;
  padding: 20px;
  padding-top: 100px; 
  box-sizing: border-box;
}

.custom-header {
  background-color: #1678c2;
  color: white;
  padding: 15px 30px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 3px solid #125a91; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  font-size: 24px;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-subtext {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  font-weight: bold;
}

.content-container {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 20px;
}

.dropdown {
  margin-bottom: 20px;
}

.submit-button {
  margin-top: 20px;
  width: 100%;
  background-color: #1678c2; 
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #125a91; 
}